body {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
}

.menu-btn {
    margin: 30px;
    width: 700px;
}

.important-desc {
    color: coral !important;
}

.tutorial-desc {
    font-size: 16px;
    margin: 40px;
    text-align: center;
}

.tutorial-button-group {
    display: flex;
    flex-flow: row;
}

.tutorial-btn {
    margin: 50px;
    width: 300px;
}

#voice-tutorial {
    background-color: red;
    height: 50px;
    width: 50px;
}

.tutorial-status {
    border: white solid 1px;
    display: flex;
    flex-flow: row;
    margin-left: 20px;
}

.left-tutorial-status, .right-tutorial-status {
    margin-left: 30px;
    margin-right: 30px;
}

.hands-body {
    align-items: center;
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}

.tutorial-hands {
    width: 800px;
}

.header {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 100%;
}

.title {
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

.instruction {
    margin: 0px;
    text-align: center;
    width: 100%;
}

#canvas-body {
    justify-content: center;
    display: flex;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
}

#canvas {
    border: 2px solid black;
    height: 400px;
    width: 1200px;
}

.footer {
    width: 100%;
}

.button-section {
    justify-content: center;
    display: flex;
    width: 100%;
}

.doodle-instruction {
    width: 700px;
}

.doodle-body {
    display: flex;
    flex-flow: row;
}

.back-btn {
    margin-top: 8px;
}

.footer {
    display: flex;
    flex-flow: row;
    height: 60px;
    width: 300px;
}

.device-status {
    border: solid 1px white;
    font-size: 16px;
    height: 100%;
    margin-right: 8px;
    width: 100%;
}

#doodle-description {
    border: solid 1px white;
    height: 100%;
    margin-left: 8px;
    width: 100%;
}