body {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
}

.menu-btn {
    margin: 30px;
    width: 700px;
}

.tutorial-desc {
    font-size: 24px;
    margin: 40px;
    text-align: center;
}

.tutorial-button-group {
    display: flex;
    flex-flow: row;
}

.tutorial-btn {
    margin: 50px;
    width: 300px;
}

.header {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.title {
    font-size: 28px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    width: 100%;
}

.instruction {
    margin: 0px;
    text-align: center;
    width: 100%;
}

#canvas-body {
    justify-content: center;
    display: flex;
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
}

#canvas {
    border: 2px solid black;
    height: 400px;
    width: 1200px;
}

.footer {
    width: 100%;
}

.button-section {
    justify-content: center;
    display: flex;
    width: 100%;
}